@import "https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap";
body {
  font-family: sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format("woff");
}
#menu li > a {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.navitem {
  float: none;
  width: 100%;
}

.nav-link {
  display: block;
  width: 100%;
  padding: 20px;
  border-left: 5px solid;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #444;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-link:hover {
  border-bottom: 0px;
  color: #fff;
}
.nav-link:hover:after {
  width: 100%;
}
.nav-link:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

.nav-item:first-child a {
  border-left: 10px solid #3498db;
}
.nav-item:first-child a:after {
  background: #3498db;
}
.nav-item:nth-child(2) a {
  border-left: 10px solid #ffd071;
}
.nav-item:nth-child(2) a:after {
  background: #ffd071;
}
.nav-item:nth-child(3) a {
  border-left: 10px solid #f0776c;
}
.nav-item:nth-child(3) a:after {
  background: #f0776c;
}
.nav-item:last-child a {
  border-left: 10px solid #1abc9c;
}
.nav-item:last-child a:after {
  background: #1abc9c;
}

.footer-row {
  background: #1b2a4e;
  min-height: 30px;
  width: 25px;
}
.footer-row p {
  color: #f3f3f3;
  text-align: center;
}

.iconosfooter i {
  font-size: 26px;
  padding: 0 8px;
  color: #f3f3f3;
}

.footer-list {
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
}
.footer-list > li {
  list-style: none;
  margin: 0 15px;
}
.footer-list > li > a {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 48px;
  background: #333;
  border-radius: 50%;
  font-size: 35px;
  color: #666;
  transition: 0.5s;
}
.footer-list > li > a::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.footer-list > li > a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
.footer-list > li > a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.footer-end {
  background: #1b2a4e;
}
.footer-end p {
  color: #f3f3f3;
  text-align: center;
}

@media (max-width: 768px) {
  #descripcion {
    width: 90% !important;
  }
}
.service-row {
  width: 100% !important;
  display: flex;
  text-align: center;
}

@media (max-width: 576px) {
  .icon-wrap {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
.carousel-inner {
  max-width: 50vw;
  max-height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body_form {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  min-height: 100vh;
}

.form {
  margin-top: 2px;
  background-color: white;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
  justify-content: center;
}

.form_title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.form_container {
  margin-top: 1em;
  display: grid;
  gap: 1.5em;
}

.form_group {
  position: relative;
  --color: #5757577e;
}

.form_input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.9em 0.1em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: "Roboto", sans-serif;
}
.form_input:focus {
  color: #4d4646;
}
.form_input:focus + .form_label {
  transform: translateY(-14px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}
.form_input:focus ~ .form_line {
  transform: scale(1);
}
.form_input:not(placeholder-shown) {
  color: #4d4646;
}

form_input:not(placeholder-shown) + .form_label {
  transform: translateY(-14px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}
form_input:not(placeholder-shown) ~ .form_line {
  transform: scale(1);
}

.form_label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  left: 5px;
  margin-top: -4px;
  transform: translate(10px);
  transition: transform 0.5s, color 0.3s;
}

.form_submit {
  background: #3866f2;
  color: #e5e5f7;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}

.form_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

/*# sourceMappingURL=estilo.css.map */
