body {
  
  font-family: sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format("woff");
}
#menu li > a {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.navitem {
  float: none;
  width: 100%;
}

.nav-link {
  display: block;
  width: 100%;
  padding: 20px;
  border-left: 5px solid;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #444;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-link:hover {
  border-bottom: 0px;
  color: #fff;
}
.nav-link:hover:after {
  width: 100%;
}
.nav-link:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

.nav-item:first-child a {
  border-left: 10px solid #3498db;
}
.nav-item:first-child a:after {
  background: #3498db;
}
.nav-item:nth-child(2) a {
  border-left: 10px solid #ffd071;
}
.nav-item:nth-child(2) a:after {
  background: #ffd071;
}
.nav-item:nth-child(3) a {
  border-left: 10px solid #f0776c;
}
.nav-item:nth-child(3) a:after {
  background: #f0776c;
}
.nav-item:last-child a {
  border-left: 10px solid #1abc9c;
}
.nav-item:last-child a:after {
  background: #1abc9c;
}

.footer-row {
  background: #1b2a4e;
  min-height: 30px;
  width: 25px;
}
.footer-row p {
  color: #f3f3f3;
  text-align: center;
}

.iconosfooter i {
  font-size: 26px;
  padding: 0 8px;
  color: #f3f3f3;
}

.footer-list {
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
}
.footer-list > li {
  list-style: none;
  margin: 0 15px;
}
.footer-list > li > a {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 48px;
  background: #333;
  border-radius: 50%;
  font-size: 35px;
  color: #666;
  transition: 0.5s;
}
.footer-list > li > a::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.footer-list > li > a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
.footer-list > li > a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.footer-end {
  background: #1b2a4e;
}
.footer-end p {
  color: #f3f3f3;
  text-align: center;
}

@media (max-width: 768px) {
  #descripcion {
    width: 90% !important;
  }
}
.service-row {
  width: 100% !important;
  display: flex;
  text-align: center;
}

@media (max-width: 576px) {
  .icon-wrap {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
.carousel-inner {
  max-width: 50vw;
  max-height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*# sourceMappingURL=estilo.css.map */
