@media (max-width:768px) {
	#descripcion {
		width: 90% !important;
	}
}
.service-row {
	width: 100% !important;
	display: flex;
	text-align: center;
}
@media (max-width:576px) {
	.icon-wrap {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
